<div class="container-fluid margin">
    <div class="row">
        <div class="col-md-6  mx-auto">
            <div class="md-form">
                <input type="text" class="form-control search" placeholder="Search" [(ngModel)]="searchString" />
            </div>
        </div>
        <div class="col-md-6 mx-auto">
            <button type="button" class="btn btn-primary btn btn-rounded btn-create" (click)="onCreate()">
                <i class="bi bi-plus-lg"></i>
                Create
            </button>
        </div>
    </div>
    <div>
        <table class="table table-margin" #t>
            <thead class="table-header">
                <tr>
                    <th class="t-data" *ngFor="let head of headElements" scope="col">{{head}} </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let std of students | filter:searchString | paginate:{ itemsPerPage: itemsPerPage,
                currentPage: currentPage}; let i = index">
                    <th class="t-data" scope="row">{{(currentPage - 1) * itemsPerPage + i + 1}}</th>
                    <td class="t-data">{{std.name}}</td>
                    <td class="t-data">{{std.collegeName}}</td>
                    <td class="t-data">{{std.year}}</td>
                    <td class="t-data">{{std.department}}</td>
                    <td class="t-data">{{std.email}}</td>
                    <td class="t-data">{{std.mobile}}</td>
                    <td class="action-column t-data">
                        <i class="bi bi-pencil-square i-edit" data-toggle="tooltip" title="Edit" (click)="onEdit(std.id)"></i>&nbsp;
                        <i class="bi bi-eye i-view" data-toggle="tooltip" title="View" (click)="onView(std.id)"></i>&nbsp;
                        <i class="bi bi-trash i-delete" data-toggle="tooltip" title="Delete" (click)="onDelete(std.id)"></i>&nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls class="pagination" (pageChange)="currentPage = $event"></pagination-controls>
    </div>
    <app-student-detail></app-student-detail>
</div>